* {
    font-family: sans-serif;
    background-color: black;
    color: white;
}

button {
    display: flex;
    justify-content: center;
    background-color: rgb(20, 20, 20);
    color: white;
    border: none;
    border-right: 2px solid aqua;
    border-bottom: 2px solid aqua;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 13px;
}

button:hover {
    background-color: rgb(41, 41, 41);
}

p {
    width: 50%;
}